<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Builder</title>

    <!-- Morris Charts CSS -->
    <link href="../static/styles/css/gootax.css" rel="stylesheet">

</head>

<body>

<div>

    <div class="nav">
        <img class="nav-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2KMcKwTR89_I8vw1zN1Mprfk9m3FTYVRV_Dgh7MOxdYVHR8ov">

        <a class="nav-content" href="/index">Gootax Gootax Mobile Builder</a>
    </div>

</div>

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../static/styles/js/jquery.js"></script>

</body>

</html>
